*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.7;
  color: #777;
}
.background{
  height: 100vh;
  background-image:linear-gradient(to right bottom,rgba(100, 50, 2, 0.85), rgba(46, 100, 255, 0.85)), url(../../../assets/img/walls/sunset.jpg);
  background-size: cover;
  background-position: center;
}
.background-sub{
  position: absolute;
  height: 60%;
  width: 50%;
  max-width: 350px;
  min-width: 292px;
  min-height: 330px;
  border-radius: 10px;
  background-image:linear-gradient(to left bottom,#8b07f8ce,rgba(112, 112, 230, 0.822));
  /* background-image:url(../../../assets/img/walls/sunset.jpg); */
  background-position: center;
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 5px 10px 20px rgba(94, 89, 89, 0.788);
  animation: moveInRight 2s ease-out; /*delay iteration-count direction fill-mode;*/
  backface-visibility: hidden;
}
.signin-form{
  height: 98%;
  
}
.email-signin{
  /* position: relative; */
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.671); */
  width: 95%;
  height: 95%;
  margin: 16px auto;
  border-radius: 10px;
  padding: 25px 25px;
}
.placeholder{
  color: #fff;
}
.input-field{
   display: inline-block;
   color: #fff;
}
.btn{
   border-radius: 100px;
   padding: 0px 22px;
   font-weight: 700;
}
.btn-signin{
 /* position:absolute;
 top:300px;
 left:50%; */
 /* transform: translate(-50%,-50%); */
 margin-top: 20px;
 background-color: #F12076;
 color: #ffff;
 display: inline-block;
 width: 157px;
}
.social-signin{
  margin-top: 15px;
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 2px 9px 19px 8px;
  width: 15px;
  height: 15px;
}
.btn-google{
  border-radius: 100px;
  padding: 0px 16px;
  margin-top: 15px;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(-50%,-60%); }
  80% {
    transform: translate(-50%,-48%); }
  100% {
    opacity: 1;
    transform: translate(-50%,-50%); } 
  }